.wrapper {
	margin: 0 auto;
	//min-width: 300px;
	max-width: 480px;
  	// width: 100%;
	text-align: center;          
	//box-shadow: 0 5px 15px 0 rgba(0, 1, 1, .2);
	padding: 40px 10px 0 10px;

	@media @tablet {
		min-width: 480px;
		max-width: 780px;
		padding: 40px 20px 0 20px;
		//box-shadow: 0 5px 15px 0 rgba(0, 1, 1, .2);
	}

	@media @descktop {
		min-width: 780px;
		max-width: 1366px;
		padding: 60px 40px 0 40px;
		//box-shadow: 0 5px 15px 0 rgba(0, 1, 1, .2);
	}
}