.big-book {
	position: relative;
	//top: -1280px;

	&__book {
		position: relative;
		//width: 309px;
		margin: 0 auto;

		@media @descktop {
			margin-top: -20px;
		}
	}

	&__flag {
		content: "";
		display: block;
		position: absolute;
		width: 17px;
		height: 32px;
		background-color: #e94d55;
	    top: 408px;
	    left: 33px;
		z-index: -1;

		&:after {
			content: "";
			display: block;
			position: absolute;
			left: 0;
			bottom: 0;
			border: 9px solid transparent;
			border-bottom: 8px solid #ffffff;
		}	
	}

	
	
	&__text {
		font-size: 18pt;
		line-height: 34px;
		margin-top: 3px;
		margin-bottom: 50px;
		max-width: 420px;
		margin: 0 auto;

		span {
			color: @flag-red;
		}
	}

	&__img {

		width: 309px;
		height: auto;

		@media @descktop {
			width: 100%;
			max-width: 487px;
			height: auto;
		}
	}

	@media @descktop {
		float: left;
		width: 43%;
		//top: 0;
	}
}