.elem-with-img {
	position: relative;
	margin-bottom: 63px;

	img {
		margin-bottom: 11px;
	}

	&__text {
		font-size: 15.5pt;
		line-height: 31px;
		color: @grey-text;

		&--zoidberg {
			margin-top: -10px;
		}
		&--magnet {
			margin-top: -11px;
		}
	}

	&__left-quote,
	&__right-quote {
		position: absolute;
		color: @grey-text;
		font-size: 38pt;
	}

	&__left-quote {
		top: 183px;
		left: -4px;
	}

	&__right-quote {
		bottom: -12px;
		right: -4px;
	}

	&__like-img {
		width: 207px;
		height: 164px;
		font-size: 45pt;
		line-height: 72px;
		font-weight: 700;
		margin: 0 auto;
		margin-bottom: 11px;
		font-family: monaco;
		padding-top: 21px;
		margin-bottom: 5px;
	}
}