.mini-book {

	&__text {
	    font-size: 19px;
	    color: #4d4d4d;
	    margin-top: -3px;
	    line-height: 24px;
	    margin-bottom: 50px;
	    padding: 0 13px;

		a {
			color: @blue;
			text-decoration: underline;
			display: inline-block;
			// border-bottom: 1px solid @blue;
			height: 21px;
		}
	}

	&__without-ribbin {
		margin-top: 6px;
		margin-bottom: 15px;
	}

	&__robot {
		margin-top: -7px;
	}

	@media @descktop {
		display: inline-block;
		min-width: 224px;
	    width: 23%;
	    margin-right: 15px;
	    vertical-align: top;
	}
}

.more-books {
	display: block;
	margin: 0 auto;
	margin-top: -14px;
	font-size: 17px;
	color: #4285be;
	line-height: 41px;
	border-style: solid;
	border-width: 2px;
	border-color: #96c2e4;
	border-radius: 8px;
	text-decoration: none;
	margin-bottom: 75px;
	width: 275px;
	height: 41px;

	@media @descktop {
		margin-top: 20px;
	    margin-bottom: 100px;
	}
}
