.search {
	//position: relative;
	margin-bottom: 40px;

	&__form {
		//position: relative;
		display: inline-block;
	}

	&__input {
		position: relative;
		display: inline-block;
		width: 217px;
		padding: 5px 15px 5px 30px;
		border-width: 1px;
		box-sizing: border-box;
		border-color: @light-grey;
		box-shadow: inset 0 1px 0 1px @light-grey;
		border-radius: 25px;
		outline: none;

		@media @tablet {
			width: 232px;
			margin-right: 4px;
		}

		@media @descktop {
			width: 232px;
			margin-right: 4px;
		}
	}

	&__enter {
		position: relative;
		display: inline-block;
		top: 7px;
		left: -16px;
		// width: 30px;
		height: 23px;
		cursor: pointer;
	}

	@media @tablet {
		left: -16px;
		margin-bottom: 0;
	}

	@media @descktop {
		float: right;
		left: -16px;
		margin-bottom: 0;
	}
}
.fa-search {
	position: relative;
	color: #9a9a9c;
	top: 0px;
    left: -252px;

    @media @tablet {
		left: -275px;
	}

    @media @descktop {
		left: -275px;
	}
}
.fa {
	font-size: 19px !important;
}
