.section {
	margin-top: -14px;

	&__title {
		font-size: 28.3pt;
		line-height: 45px;
		margin-bottom: 22px;
		font-weight: bold;
	}

	&__text {
		font-size: 24px;
		color: #4d4d4d;
		line-height: 34px;
		margin-bottom: 18px;
	}

	&__mini-title {
		font-size: 32px;
		line-height: 45px;
		margin-bottom: 9px;
		font-weight: bold;
	}

	&__mini-text {
		font-size: 19px;
		color: #4d4d4d;
		line-height: 32px;
		text-align: left;
	}
}
