.section {
	margin-top: -14px;

	@media @descktop {
		margin-top: 0;
	}

	&__title {
		font-size: 38px;
		line-height: 1.211;
		margin-bottom: 22px;
		font-weight: bold;

		@media @tablet {
			font-size: 65px;
			line-height: 1.167;
			padding: 0 35px;
		}

		@media @descktop {
			font-size: 72px;
			line-height: 1.167;
			padding: 0 35px;
		}
	}

	&__text {
		font-size: 24px;
		color: #4d4d4d;
		line-height: 34px;
		margin-bottom: 18px;
	}

	&__mini-title {
		margin-top: 21px;
		font-size: 32px;
		line-height: 45px;
		margin-bottom: 9px;
		font-weight: bold;
		text-align: left;
	}

	&__mini-text {
		font-size: 19px;
		color: #4d4d4d;
		line-height: 32px;
		text-align: left;
	}

	&__staff-name {
		text-align: left;
		font-size: 24px;
		font-weight: bold;
		margin-top: 11px;
		margin-bottom: 13px;
	}

	&__staff-text {
		font-size: 19px;
		line-height: 32px;
		text-align: left;
		margin-bottom: 15px;
		color: #4d4d4d;
	}

	&__list {
		position: relative;
		text-align: left;
		list-style-type: none;
		font-size: 19px;
		line-height: 32px;
		color: #4d4d4d;
		margin-top: -12px;

		li {
			position: relative;

			span {
				position: absolute;
				top: 0;
				left: -37px;
			}
		}
	}
}

.nice-text {
	font-family: alsfuchsia;
	border-top: 1px solid @black;
	border-bottom: 1px solid @black;
	padding: 25px;
	font-size: 28px;
	line-height: 1.5;
	margin-top: 30px;
	margin-bottom: 30px;
}

